.side

  .side__header
    .side__header__box
      %p.side__header__box__text
        =current_user.nickname
      %ul.side__header__box__menu
        %li.side__header__box__user
          =link_to new_group_path(current_user),class: "side__header__box-btn"do
            =icon('fas', ' fa-edit')
        %li.side__header__box__edit
          =link_to edit_user_path(current_user),class: "side__header__box-btn"do
            =icon('fas', ' fa-cog')
  .side__gruops
    - current_user.groups.each do |group|
      .side__gruops__gruop
        .side__gruops__gruop-link
          = link_to  group_messages_path(group) do
            .group__name
              = group.name
            %p.side__gruop__text
              = group.show_last_message